* {
    margin: 0;
    padding: 0;
  }
  
  body {
      background-color: black;
   }
  
   .title {
      color: pink;
      font-family: Georgia, Optima, serif;
      font-size: 30px;
      font-weight: bolder;
      text-shadow: 0 0 30px rgb(254, 218, 255);
      margin: 20px 0px;
      max-width: 500px;
   }
   
   .boring {
      color: white;
      font-size: 6px;
   }
   
   .bigspace {
     font-size: 60px;
   }
  
   .img:hover {
     filter: invert(1);
   }
  
   button:hover {
     filter: invert(1);
   }
  
   .group {
     position:relative;
   }
  
   .vertical-line {
    position: absolute;
    background-color: black;
    left: 50%;
    bottom: 0;
    width: 2px;
    content: '';
    z-index: 999;
   }
  
   .group>label{
     padding:0 0.2em;
     position:absolute;
     top:-0.5em;
     left:1em;
     color: rgb(211, 73, 140);
     background-color:black;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     font-size: 14px;
   }
   
   .group>input{
     padding:0.8em;
     border-radius: 0.5em;
     border: 2px solid rgb(211, 73, 140);
     outline:none;
     background-color: black;
   }
   
   #hidden-title:hover {
    color:rgb(151, 0, 68);
   }
  
   $colors: rgb(204, 167, 217), rgb(107, 57, 86), rgb(101, 137, 173), rgb(235, 162, 160), rgb(201, 131, 170), rgb(149, 191, 185);

   .hello {
    font-size: 60px;
    color:black;

    &:hover {
        color: nth($colors, random(length($colors)));
    }
   }
